.menu-main {
    list-style: none;
    margin: auto;
    text-align: center;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {
    content: "|";
    color: #2d2e2d;
    display: inline-block;
    vertical-align: top;
}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #2d2e2d;
}

.menu-main a:hover {
    color: pink;
    text-underline: pink;
}