html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to bottom, lightblue, lightpink);
    background-repeat: no-repeat;
    background-color: lightpink;
}

header {
    text-align: center;
    margin: auto;
    position: relative;
}

.btn-style {
    position: relative;
    background-image: linear-gradient(to bottom right, lightpink, lightblue);
    font-size: 18px;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.btn-style:hover {
    background-image: none;
    background-color: lightblue;
    transform: scale(1.1);
}

.table-t2 tr {
    background:mediumpurple;
}